$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_footer:#353535;
$couleur_menu: #f6f6f6;
$couleur_icon: #7e7e7e;
$couleur_new_menu: #a9e0d1;
$couleur_text_new_menu: #3b8468;
$couleur_localisation: #eaeaea;
$couleur_boutton:  linear-gradient(to bottom, #d96fcf, #d06dcf, #ac61d0);