$police_logo_titres: 'Shrikhand';
$police_texte: 'Roboto', sans-serif;
$texte_gras: bold;
$taille_titre: 5.5vw;
$taille_texte_fonctionnement: 3vw;
$taille_description_header: 4vw;
$taille_titre_card: 22px;
$taille_numero_btn: 20px;
$taille_icon: 4vw;
$taille_description_card: 20px;