@import "couleur";
@import "police";
@import "card";
@import "general";
@import "fonctionnement";
@import "ombres";
@import "btn-fonctionnement";
@import "animation";

// General

body {
    margin: 0;
    font-family: $police_texte;
}

.section-title {
    margin-left: $margin_titre;
    font-size: $taille_titre;
    margin-top: 5%;
}

// Loader

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: $display-settings;
    justify-content: center;
    align-items: center;
    animation: fadeOutBackground 2s 2s forwards; 
    z-index: 9999 ;
}
  
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $couleur_primaire;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite; 
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
    
  @keyframes fadeOutBackground {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; } 
  }

//HEADER ET NAV 

.all-header {
     box-shadow: $ombre_header;
    .logo {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 50%;
        margin-left: 27%;
    }
}

.nav-logo {
    display: $display-settings;
    flex-direction: $flex-vertical;
    align-items: $alignement_au_milieu;   
    box-shadow: $ombre_header;
    background-color: $couleur_localisation ;
    .localisation {
        display: $display-settings; 
        .fa-solid.fa-location-dot {
            font-size: 20px;
            margin-top: 12%;
            font-size: 22px;
            padding-right: 20px;
            color: #353535;
        }
    }
}

.ville-localisation {
    font-weight: $texte_gras;
    color: #353535;
    font-size: 22px;
}

.introduction {
    display: $display-settings;
    flex-direction: $flex-vertical;
    background-color: $couleur_menu;
    text-align: $alignement_au_milieu; 
    .sous-titre1 {
        font-weight: $texte_gras;
        font-size: $taille_titre;
        width: 60%;
        margin-left: 22%;
    }
}

.sous-titre2 {
    font-size: $taille_description_header;
    width: 75%;
    margin-left: 17%;
    color: #353535;
    font-weight: 100;
    margin-top: 0;
}

.button-explorerR {
    background: $couleur_boutton;
    color: white;
    margin:35px 5px;
    padding: 20px 20px; 
    width: 50%;
    font-size: 3vw;
    border-radius: $border_btn_numero;
    font-weight: $texte_gras;
    margin-bottom: 60px;
    margin-left: 29%;
    border: $sans_bordure;
    box-shadow: $ombre_fonctionnement;  
    &:hover {
        background: linear-gradient(to bottom, #e69fcf, #e06dcf, #cc61d0); 
        box-shadow: $ombre_hover;
    }
}


// Fonctionnement

.fonctionnement h2 {
    font-size: $taille_titre;
}

.liens-fonctionnement {
    margin-left: $margin_titre;
    display: $display-settings;
    position: $position_boutton_numero;
    .btn-fonctionnement {
        position: absolute;
        margin-left: -10px;
        background: $couleur_primaire;
        border: $sans_bordure;
        height: $hauteur_btn;
        width: $largeur_btn;
        border-radius: $border_btn_numero;
        margin-top: 40px;
        .logo-numero {
            margin-top: 6px;
            margin-left: 10px;
            color: white;
            font-weight: $texte_gras;
            font-size: $taille_numero_btn
        }
    }
}

.texte_fonctionnement{
    display: $display-settings;
    background: $couleur_menu;
    margin:35px 5px;
    padding: $espace_entre_couleur_texte;
    width: $largeur_couleur_arriere;
    font-size: $taille_texte_fonctionnement;
    border-radius: $border_texte_fonctionnement;
    font-weight: $texte_gras;
    margin-top: 10px;
    box-shadow: $ombre_fonctionnement;
    .fa-solid.fa-mobile-screen-button {
        margin-top: $hauteur_du_logo;
        padding-left: $espace_du_texte;
        font-size: $taille_icon;
        color: $couleur_icon;
        &:hover {
           color: $couleur_primaire
        }
    }    
}

.fa-solid.fa-list-ul {
    margin-top: $hauteur_du_logo;
    padding-left: $espace_du_texte;
    font-size: $taille_icon;
    color: $couleur_icon;
    &:hover {
        color: $couleur_primaire
    }
}

.fa-solid.fa-store {
    margin-top: $hauteur_du_logo;
    padding-left: $espace_du_texte;
    font-size: $taille_icon;
    color: $couleur_icon;
    &:hover {
        color: $couleur_primaire
    }
}

.texte_fonctionnement p {
    margin-left: 7%;
}

// Restaurants

.all-restaurants {
    display: $display-settings;
    background-color: $couleur_menu;
    flex-direction: $flex-vertical;
    margin-top: 5%;
    .card-restaurants {
        margin-bottom: 50px;
    }
} 

.card-restaurants a {
    text-decoration: none;  
    .card-img {
        height: 200px;
        width: 87%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        margin-left: 5%;
    }  
}


.taille-card {
    position: relative;
    border-radius: 0px 0px 20px 20px;
    margin-left: 5%;
    width: 87%;
    height: 100px;
    display: flex;
    background-color: white;
    flex-direction: column-reverse;
    .new-menu {
        background: $couleur_new_menu;
        color: $couleur_text_new_menu;
        font-weight: $texte_gras;
        padding: 11.2px 24px;
        border-radius: 4px;
        position: absolute;
        top: -11.5rem;
        right: 1.5rem;
    }
}

.text-card {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.text-card h4 {
    font-size: $taille_titre_card;
    color: black;
    margin-bottom: -13px; 
}

.card-subtitle {
    font-size: $taille_description_card;
    color: black;
}

.fa-regular.fa-heart {
    font-size: 25px;
    top: 17%;
    position: absolute;
    right: 5%;
    transition: opacity 0.3s ease;
    opacity: $coeur_voyant;
    color: black;
    &:hover {
        opacity: $coeur_disparait
    }
}

.fa-solid.fa-heart {
    font-size: 25px;
    top: 17%;
    position: absolute;
    right: 5%;
    transition: opacity 0.3s ease;
    background: $couleur_boutton;
    opacity: $coeur_disparait;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
        opacity: $coeur_voyant;
    }
}

// Page Menu 

.header-menu {
    display: $display-settings;
    margin-top: 5%;
    justify-content: space-around;
    align-items: $alignement_au_milieu;
    .fa-solid.fa-arrow-left {
        font-size: 6vw;
        color: black;
    }
}     

.logo-menu {
    margin-right: 20%;
    width: 41%;
}

.img-menu {
    margin-top: 5%;
    width: 100%;
    object-fit: cover;
}

.img-menu2 {
    height: 300px;
    margin-top: 5%;
    width: 100%;
    object-fit: cover;
}

.all-menu {
    position: relative;
    margin-top: -10%;
    background: $couleur_menu;
    border-radius: 50px 50px 0 0;
    .all-titre {
        display: $display-settings;
        .section-title-menu {
            margin-left: $margin_titre;
            font-size: $taille_titre;
            margin-top: 10%;
            font-family: $police_logo_titres;
        }
    }
}

.all-menu2 {
    position: relative;
    margin-top: -45%;
    background: $couleur_menu;
    border-radius: 50px 50px 0 0;
}

.fa-regular.fa-heart.menu {
    font-size: 7vw;
    position: absolute;
    right: 15%;
    top: 11vw;
    transition: opacity 0.3s ease;
    opacity: $coeur_voyant;
    &:hover {
        opacity: $coeur_disparait
    }
}

.fa-solid.fa-heart.menu {
    font-size: 7vw;
    position: absolute;
    right: 15%;
    top: 11vw;
    transition: opacity 0.3s ease;
    opacity: $coeur_disparait;
    &:hover {
        opacity: $coeur_voyant;
    }
}

.section-title1 {
    font-weight: 100;
    font-size: 4vw;
    margin-left: $margin_titre;
    position: relative;
}

.section-title1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 58px;
    height: 5px;
    background-color: $couleur_tertiaire; 
}

.article-menu {
    margin-left: 3%;
    margin-bottom: 10px;
    opacity: 0;
    animation: Cascade 1s forwards;
    .card-menu {
        background: white;
        margin: 35px 5px;
        padding: $espace_entre_couleur_texte;
        width: $largeur_couleur_arriere;
        border-radius: $border_texte_fonctionnement;
        margin-top: 10px;
        box-shadow: $ombre_fonctionnement;
        overflow: hidden;
        position: relative; 
    }
}


.check {
    border-radius: 0px 20px 20px 0px;
    width: 12%;
    position: absolute;
    top: 0%; 
    right: -12%;
    background-color: rgb(153, 226, 208);
    height: 139px;
}

.fa-solid.fa-circle-check {
    font-size: 5vw;
    margin-left: 25%;
    margin-top: 50%; 
    color: white;
}

.prix-menu {
    transition: margin-right 0.3s ease; 
}

.card-menu:hover .prix-menu {
    margin-right: 12%;
}

.card-menu:hover .check {
    right: 0%;
    transition: margin-right 0.3s ease;
}

.card-menu h4 {
    margin-bottom: 5px; 
    font-size: 4vw;
    margin-top: 0; 
}

.article-menu:nth-child(2) {
    animation-delay: 0.5s; 
}
.article-menu:nth-child(3) {
    animation-delay: 1s; 
}
.article-menu:nth-child(4) {
    animation-delay: 2s; 
}
  
  @keyframes Cascade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.nom-menu {
    display: $display-settings;
    justify-content: space-between;
    font-size: 4vw;
    align-items: center;
    .subtitle-menu {
        margin: 0;
        font-size: 3.5vw;  
    }
}
  
.btn-commander {
    background: $couleur_boutton;
    color: white;
    margin:35px 5px;
    padding: 20px 20px; 
    width: 50%;
    font-size: 3vw;
    border-radius: $border_btn_numero;
    font-weight: $texte_gras;
    margin-bottom: 60px;
    margin-left: 29%;
    border: $sans_bordure;
    box-shadow: $ombre_fonctionnement;
    &:hover {
        background: linear-gradient(to bottom, #e69fcf, #e06dcf, #cc61d0); 
        box-shadow: $ombre_hover;
    }
}

// Footer 

.all-footer {
    background: $couleur_footer;
    color: white;
    font-size: 4vw;
    .all-footer2 {
        margin-left: 5%;
        padding: 15px;
    }
}

.all-footer h3 {
    font-family: $police_logo_titres;
}

.footer-logo {
    display: $display-settings;
    margin-left: 1%;
    padding-top: 5px;
}

.footer-logo p {
    margin: 0;
    margin-left:5%;
    font-weight: $texte_gras
}       

.footer-logo {
    display: $display-settings;
    .fa-solid.fa-handshake-simple {
        transform: rotate(150deg);
        margin-left: -1.7%;
    }
}

.footer-simple a {
    text-decoration: none;
    color: white;
}

.footer-mobile {
    display: block;
}
.footer-ordinateur {
    display: none;
}

@media only screen and (min-width: $version_ordinateur) {
 
    // General

    body {
        margin: 0;
        font-family: $police_texte;
    }

    //HEADER ET NAV 
    
    .all-header {
        box-shadow:none;
        .logo {
            margin-top: 3%;
            margin-bottom: 3%;
            width: 30%;
            margin-left: 39%;
        }
    }

    .nav-logo {
        display: $display-settings;
        flex-direction: $flex-vertical;
        align-items: $alignement_au_milieu;   
        background-color: $couleur_localisation ;
        box-shadow: none;
        .localisation {
            margin-left: 6%;
            display: $display-settings; 
            .fa-solid.fa-location-dot {
                font-size: 20px;
                margin-top: 12%;
                font-size: 22px;
                padding-right: 20px;
                color: #353535;
            }
        }
    }

    .header-menu {
        display: flex;
        margin-top: 3%;
        justify-content: space-around;
        align-items: center;
    }

    .header-menu .logo-menu {
        margin-right: 34%;
        width: 20%;
        .header-menu a {
            margin-right: 27%;
            .fa-solid.fa-arrow-left {
                font-size: 3vw;
            }
        }
    }

    .img-menu {
        height: 500px;
        margin-top: 5%;
        width: 100%;
    }

    .introduction {
        display: $display-settings;
        flex-direction: $flex-vertical;
        background-color: $couleur_menu;
        text-align: $alignement_au_milieu; 
        .sous-titre1 {
            font-weight: $texte_gras;
            font-size: 3.3vw;
            width:80%;
            margin-left: 14%;
        }
    }

    .sous-titre2 {
        font-size: 1.8vw;
    }

    .button-explorerR {
        background: $couleur_boutton;
        color: white;
        margin:35px 5px;
        padding: 20px 20px; 
        width: 30%;
        font-size: 1.5vw;
        border-radius: $border_btn_numero;
        font-weight: $texte_gras;
        margin-bottom: 60px;
        margin-left: 36%;
        border: $sans_bordure;
        box-shadow: $ombre_fonctionnement;
    }

    // Fonctionnement

    .all-fonctionnement {
        display: flex;
        margin-left: 6%;
    }

    .fonctionnement h2 {
        font-size: 3vw;
        margin-left: 2%;
    }

    .div-fonctionnement {
        display: flex;
        flex-direction: row;
        .liens-fonctionnement {
            display: flex;
            margin: 14px;
            justify-content: space-between;
        }
    }

    .texte_fonctionnement {
        display: $display-settings;
        background: $couleur_menu;
        padding: $espace_entre_couleur_texte;
        font-size: 1.3vw;
        border-radius: $border_texte_fonctionnement;
        font-weight: $texte_gras;
        box-shadow: $ombre_fonctionnement;
        width: 24vw;
        .fa-solid.fa-mobile-screen-button {
            font-size: 2vw;
            padding-left: 25px;
            margin-top: 4%;
        }
    }

  

    .fa-solid.fa-list-ul {
        font-size: 2vw;
        padding-left: 25px;
        margin-top: 4%;
    }

    .fa-solid.fa-store {
        font-size: 2vw;
        padding-left: 25px;
        margin-top: 4%;
    }

    .texte_fonctionnement p {
        margin-left: 0%;
        padding-left: 30px;
    }

    // Restaurants

    .all-restaurants {
        display: $display-settings;
        background-color: $couleur_menu;
        flex-direction: $flex-vertical;
        margin-top: 5%;
        .restaurants h2 {
            font-size: 3vw;
            margin-left: 8%;
        }
    }

    .div-restaurants {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        .card-restaurants {
            margin-bottom: 50px;
            margin-left: 2%;
        }
    }

    .card-restaurants a {
        text-decoration: none;  
        .card-img {
            height: 200px;
            width: 36.8vw;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            margin-left: 4%;
        }  
    }
        
    .taille-card {
        position: relative;
        border-radius: 0px 0px 20px 20px;
        margin-left: 4%;
        width: 37vw;
        height: 100px;
        display: flex;
        background-color: white;
    }    

    // Page Menu

    .header-menu {
       display: flex;
       margin-top: 3%;
       justify-content: space-around;
       align-items: center;
    }

    .header-menu a {
        margin-right: 27%;
        .fa-solid.fa-arrow-left {
            font-size: 3vw;
        }
    }

    .logo-menu {
        margin-right: 34%;
        width: 20%;
    }

    .img-menu {
        object-fit: cover;
        transform: scale(1.1);
        height: 400px;
        margin-top: 3%;
        width: 95.5%;
    }

    .all-menu {
        margin-left: 9.5%;
        position: relative;
        margin-top: -1.5%;
        width: 84%;
        background: #f6f6f6;
        border-radius: 50px 50px 0 0;
        .all-titre {
        display: flex;
            .section-title-menu {
                margin-left: 33%;
                font-size: 3vw;
                margin-top: 5%;
                font-family: $police_logo_titres;
            } 
        }
    }

    .fa-regular.fa-heart.menu {
        font-size: 3vw;
        position: absolute;
        right: 26%;
        top: 5vw;
        transition: opacity 0.3s ease;
        opacity: 1;
    }

    .fa-solid.fa-heart.menu {
        font-size: 3vw;
        position: absolute;
        right: 26%;
        top: 5vw;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .all-menu section {
        margin-left: 12%;
    }

    .section-title1 {
        font-weight: 100;
        font-size: 2vw;
        position: relative;
    }

    .section-title1::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 5.5vw;
        height: 5px;
        background-color: $couleur_tertiaire; 
    }

    .card-menu {
        position: relative;
        overflow: hidden;  
        width: 75%;
    }

    .card-menu h4 {
        font-size: 2vw;
        margin-top: 0;
    }  
    
    .nom-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2vw;
        .subtitle-menu {
            margin: 0;
            font-size: 1.5vw;
        }
    }

    .prix-menu {
        transition: margin-right 0,3s ease;
    }

    .card-menu:hover .prix-menu {
        margin-right: 12%;
    }

    .check {
        border-radius: 0px 20px 20px 0px;
        width: 12%;
        position: absolute;
        top: 0%;
        right: -12%;
        background-color: rgb(153, 226, 208);
        height: 150px;
    }

    .card-menu:hover .check {
        right: 0%;
        transition: margin-right 0,3s ease;
    }

    .fa-solid.fa-circle-check {
        font-size: 2.5vw;
        margin-left: 30%;
        margin-top: 37%;
        color: white;
        overflow: hidden;
    }

    .btn-commander {
        margin-left: 28%;
        font-size: 1.5vw;
        width: 30%;
    }

    .all-footer {
        background: $couleur_footer;
        color: white;
        font-size: 1.5vw;
        .all-footer2 {
            padding: 15px;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-right: 10%;
        }
    }

    .all-footer h3 {
        font-family: $police_logo_titres;
    }

    .footer-logo {
        display: $display-settings;
        padding-top: 5px;
        align-items: center;
    }

    .footer-logo p {
        margin: 15px;
        font-weight: $texte_gras
    }

    .footer-logo {
        display: $display-settings;
        align-items: center;
        margin-bottom: 0.5%;
    }

    .footer-simple {
        margin-right: 5%;
        display: flex;
        align-items: center;
    }

    .footer-simple p {
        margin: 20px;
    }

    .footer-simple a {
        text-decoration: none;
        color: white;
    }   

    .footer-ordinateur {
        display: block;
    }

    .footer-mobile {
        display: none;
    }
}


