@import "couleur";
@import "police";
@import "card";
@import "general";
@import "fonctionnement";
@import "ombres";
@import "btn-fonctionnement";

// General
body {
    margin: 0;
    font-family: $police_texte;
}

.section-title {
    margin-left: $margin_titre;
    font-size: $taille_titre;
    margin-top: 10%;
}

//HEADER ET NAV 

.all-header {
     box-shadow: $ombre_header;
    .logo {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 50%;
        margin-left: 27%;
    }
}

.nav-logo {
    display: $display-settings;
    flex-direction: $flex-vertical;
    align-items: center;   
    box-shadow: $ombre_header;
    background-color: $couleur_localisation ;
    .localisation {
        display: $display-settings; 
        .fa-solid.fa-location-dot {
            font-size: 20px;
            margin-top: 12%;
            font-size: 22px;
            padding-right: 20px;
            color: #353535;
        }
    }
}

.ville-localisation {
    font-weight: $texte_gras;
    color: #353535;
    font-size: 22px;
}

.introduction {
    display: $display-settings;
    flex-direction: $flex-vertical;
    background-color: $couleur_menu;
    text-align: center; 
    .sous-titre1 {
        font-weight: $texte_gras;
        font-size: $taille_titre;
        width: 60%;
        margin-left: 22%;
    }
}

.sous-titre2 {
    font-size: $taille_description_header;
    width: 75%;
    margin-left: 17%;
    color: #353535;
    font-weight: 100;
    margin-top: 0;
}

.button-explorerR {
    background: $couleur_boutton;
    color: white;
    margin:35px 5px;
    padding: 20px 20px; 
    width: 50%;
    font-size: 3vw;
    border-radius: $border_btn_numero;
    font-weight: $texte_gras;
    margin-bottom: 60px;
    margin-left: 29%;
    border: $sans_bordure;
    box-shadow: $ombre_fonctionnement;
}


// Fonctionnement

.fonctionnement h2 {
    font-size: $taille_titre;
}

.liens-fonctionnement {
    margin-left: $margin_titre;
    display: $display-settings;
    position: $position_boutton_numero;
    .btn-fonctionnement{
        position: absolute;
        margin-left: -10px;
        background: $couleur_primaire;
        border: $sans_bordure;
        height: $hauteur_btn;
        width: $largeur_btn;
        border-radius: $border_btn_numero;
        margin-top: 40px;
        .logo-numero {
            margin-top: 6px;
            margin-left: 10px;
            color: white;
            font-weight: $texte_gras;
            font-size: $taille_numero_btn
        }
    }
}

.texte_fonctionnement{
    display: $display-settings;
    background: $couleur_menu;
    margin:35px 5px;
    padding: $espace_entre_couleur_texte;
    width: $largeur_couleur_arriere;
    font-size: $taille_texte_fonctionnement;
    border-radius: $border_texte_fonctionnement;
    font-weight: $texte_gras;
    margin-top: 10px;
    box-shadow: $ombre_fonctionnement;
    .fa-solid.fa-mobile-screen-button {
       margin-top: $hauteur_du_logo;
       padding-left: $espace_du_texte;
       font-size: $taille_icon;
       color: $couleur_icon;
    }
}

.fa-solid.fa-mobile-screen-button:hover {
    color: $couleur_primaire
}

.fa-solid.fa-list-ul {
    margin-top: $hauteur_du_logo;
    padding-left: $espace_du_texte;
    font-size: $taille_icon;
    color: $couleur_icon;
}

.fa-solid.fa-list-ul:hover {
    color: $couleur_primaire
}

.fa-solid.fa-store {
    margin-top: $hauteur_du_logo;
    padding-left: $espace_du_texte;
    font-size: $taille_icon;
    color: $couleur_icon;
}

.fa-solid.fa-store:hover {
    color: $couleur_primaire
}


.texte_fonctionnement p {
    margin-left: 7%;
}

// Restaurants

.all-restaurants {
    display: $display-settings;
    background-color: $couleur_menu;
    flex-direction: $flex-vertical;
    margin-top: 5%;
    .card-restaurants {
        margin-bottom: 25px;
    }
        .card-restaurants a {
            text-decoration: none;  
            .card-img {
                height: 200px;
                width: 87%;
                border-radius: 20px 20px 0px 0px;
                object-fit: cover;
                margin-left: 5%;
            }
    }
} 

.taille-card {
    position: relative;
    border-radius: 0px 0px 20px 20px;
    margin-left: 5%;
    width: 87%;
    height: 100px;
    display: flex;
    background-color: white;
    flex-direction: column-reverse;
    .new-menu {
        background: $couleur_new_menu;
        color: $couleur_text_new_menu;
        font-weight: $texte_gras;
        padding: 11.2px 24px;
        border-radius: 4px;
        position: absolute;
        top: -11.5rem;
        right: 1.5rem;
    }
}

.text-card {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.text-card h4 {
    font-size: $taille_titre_card;
    color: black;
    margin-bottom: -13px; 
}

.card-subtitle {
    font-size: $taille_description_card;
    color: black;
}

.fa-regular.fa-heart {
    font-size: 30px;
    top: 17%;
    position: absolute;
    right: 5%;
    color: black;
}

// Footer 

.all-footer {
    background: $couleur_footer;
    color: white;
    font-size: 4vw;
    .all-footer2 {
        margin-left: 5%;
        padding: 15px;
    }
}

.all-footer h3 {
    font-family: $police_logo_titres;
}

.footer-logo {
    display: $display-settings;
    margin-left: 1%;
    padding-top: 5px;
}

.footer-logo p {
    margin: 0;
    margin-left:5%;
    font-weight: $texte_gras
}

.footer-logo {
    display: $display-settings;
    .fa-solid.fa-handshake-simple {
        transform: rotate(150deg);
        margin-left: -1.7%;
    }
}

.footer-simple a {
    text-decoration: none;
    color: white;
}









